<div class="footer">
  <!--social media links-->
  <a href="https://www.facebook.com/aaron.neme">
    <img src="facebook.png" alt="facebook">
  </a>
  <a href="https://twitter.com/AaronTNeme">
    <img src="twitter.png" alt="twitter">
  </a>
  <a href="https://dev.to/aneme1038">
    <img src="devTo.png" alt="dev.to">
  </a>
  <a href="https://www.linkedin.com/in/aaron-neme-030b0a8a/">
    <img src="linkedIn.png" alt="linkedIn">
  </a>
  <a href="https://www.instagram.com/aaron.neme/">
    <img src="instagram.png" alt="instagram">
  </a>
</div>
