<div class="header">
  <div>
    <img class="tweedlyLogo" src="/gentlemanlogo.png" alt="Tweed-ly Logo"/>
  </div>
  <div>
    <h1 class=tweedlyText>
      Tweed-ly
    </h1>
  </div>
  <div>
    <a href="/"><button class="btn indexBtn">Home</button></a>
  </div>
</div>
