<meta charset="utf-8">
<title>Tweed-ly</title>
<!-- Two google fonts provided by fonts.googleapis.com -->
<link href="https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant&display=swap" rel="stylesheet">
<!-- Add a special icon to the library from the following link provided by w3schools to add in a star rating symbol -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Link to personal stylesheet -->
<link href="/styles.css" rel="stylesheet">
