<div class="logoArea">
  <div id="symbolLeft">
    <img id="tweedlyLogo" src="/gentlemanlogo.png" alt="Tweed-ly Logo"/>
  </div>
  <div id="separateLogo">
  </div>
  <div id="logoText">
    <h1 id=tweedlyText>
      Tweed-Ly
    </h1>
  </div>
</div>
