<meta charset="utf-8">
<title>Tweed-ly</title>
<!-- Two google fonts provided by fonts.googleapis.com -->
<link href="https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant&display=swap" rel="stylesheet">
<!-- Add a special icon to the library from the following link provided by font awesome webkit to add in a star rating symbol -->

<!-- Link to personal stylesheet -->
<link href="/styles.css" rel="stylesheet">
<!-- jQuery Link -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6e4003ff87.js"></script>
