<div class="container row left-align" id="header">
  <div id="symbolLeft" class="col s1">
    <img id="tweedilyLogo" src="/gentlemanlogo.png" alt="Tweed-ly Logo"/>
  </div>
  <div id="separateLogo">
  </div>
  <div id="container left-align col s1">
    <h1 id=tweedilyText>
      Tweedily
    </h1>
  </div>
</div>
