<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <video id="headerVideo" width="1280" height="720" src="/media/tweedVideo.mp4" poster="/media/tweedPoster.jpg" autoplay controls muted loop>
        <source src="tweedVideo.mp4" type="video/mp4">
        <source src="tweedVideo.webm" type="video/webm">
        <source src="tweedVideo.ogg" type="video/ogg">
      </video>
    </header>
    <main>
      <div class="loginArea">
        <% if(!currentUser) { %>
          <fieldset>
            <a href="/users/new" class="links"><button class="btn">Sign Up</button></a>
            <a href="/sessions/new" class="links"><button>Log In</button></a>
          </fieldset>
        <% } %>
      </div>
    </main>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
