<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <div class="container video-container">
        <video class="center-align" id="headerVideo" width="100%" height="720" poster="/tweedPoster.jpg" autoplay muted loop>
          <source src="/tweedVideo.mp4" type="video/mp4">
          <source src="/tweedVideo_webm.webm" type="video/webm">
          <source src="/tweedVideo_ogv.ogv" type="video/ogv">
        </video>
      </div>
    </header>
    <main>

    </main>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
