<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <main>
      <div class="loginArea">
        <% if(!currentUser) { %>
          <fieldset>
            <a href="/users/new" class="links"><button class="btn">Sign Up</button></a>
            <a href="/sessions/new" class="links"><button>Log In</button></a>
          </fieldset>
        <% } %>
      </div>
    </main>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
