<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <img class="tweedlyLogo" src="/gentlemanlogo.png" alt="Tweed-ly Logo"/>
        </div>
        <div>
          <h1 class=tweedlyText>
            Tweed-ly
          </h1>
        </div>
        <div>
          <div>
            <% if(currentUser) { %>
              <span class="welcomeArea">
                <h2 class="h2" id="welcomeHeader">Greetings <br/><%=currentUser.username%>!</h2>
                <a href="/tweed/app" class="links"><button id="tweedTime" class="btn">Tweed-ly</button></a>
                <form action="/sessions?_method=DELETE" method="POST">
                  <input class="btn" id="logBtn" type="submit" value="Log Out">
                </form>
              </span>
            <% } else { %>
              <span class="loginSignUp">
                <a href="/users/new" class="links"><button class="btn">Sign Up</button></a>
                <a href="/sessions/new" class="links"><button class="btn">Log In</button></a>
              </span>
            <% } %>
          </div>
        </div>
      </div>
      <div class="video-container">
        <video class="center-align" id="headerVideo" width="100%" height="720" poster="/tweedPoster.jpg" autoplay muted loop>
          <source src="/tweedVideo.mp4" type="video/mp4">
          <source src="/tweedVideo_webm.webm" type="video/webm">
          <source src="/tweedVideo_ogv.ogv" type="video/ogv">
        </video>
      </div>
      <div class="separateHeader">
      </div>
    </header>
    <main class="mainIndex">
      <div class="column" id="tweedSuitCard">
        <h2>Tweed Suits</h2>
        <h3>Large Collection</h3>
        <p>Tweed-ly has many suit options to choose from. We feature a large collection of different fabrics, colors, patterns, and sizes. Choose your favorites and add them to your personal collection.</p>
        <img src="tweedPoster.jpg" alt="Suit Image">
      </div>
      <div class="column" id="tweedJacketCard">
        <h2>Brands</h2>
        <h3>Some of the Best Brands, All in One Place!</h3>
        <p>Choose from a variety of top tweed Fabrics including Hampton, Tammel, Quinton, and more! Every fabric we carry is among the best Tweed you can find!</p>
        <img src="tweedJacket.jpg" alt="Tweed Jacket">
      </div>
      <div class="column" id="colorText">
        <h2>Colors</h2>
        <h3>Suave and Sophisticated Colors</h3>
        <p>Customize your tweed suit by choosing a color that fits you. Plenty of colors to choose from that will never dull and will only further amplify how you look.</p>
        <img src="tweedColor.jpg" alt="Tweed Colors">
      </div>
      <div class="column" id="offColor">
        <h2>Patterns</h2>
        <h3>Tweed Patterns for Everyone</h3>
        <p>With many different patterns to choose from, you can pick a pattern that best fits what you are going for. Like Stripes? How about Checkered? Or perhaps a Herringbone style? The choice is yours!</p>
        <img src="tweedPattern.jpg" alt="Tweed Pattern">
      </div>
      <div class="column" id="sample">
        <h2>Custom Fit</h2>
        <h3>Customize the Length and Size of your Suit</h3>
        <p>Select preferences for your tweed suit based on your bodily needs and specifications. Want a longer sleeve? No problem! How bout extra pockets? You got it! The choice is yours!</p>
        <img src="tweedSample.jpg" alt="Tweed Sample">
      </div>
      <div class="column" id="weightCard">
        <h2>Fabric Weight and Style</h2>
        <h3>Customize the thickness of your fabric</h3>
        <p>The weight and style of your tweed is an important attribute. Take great care in selecting one that will fit your needs and desires. Like the feel of a heavy jacket? Go for a higher fabric weight. Like a bit more breathing room? Go for a lighter weight.</p>
        <img src="tweedWeight.jpg" alt="Tweed Weight">
      </div>
    </main>
    <footer>
      <% include ./partials/footer.ejs %>
    </footer>
  </body>
</html>
