<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <h1>Collection</h1>
      <div class=listingArea>
        <ul>
        <% for (let i = 0; i < tweeds.length; i++) { %>
          <div class="listing">
            <li><a href="/app/<%=tweeds[i].id%>"><img class="listingImage" src="<%=tweeds[i].img%>" alt="<%=tweeds[i].name%> Image"/></a></li>
          </div>
        <% } %>
        </ul>
      </div>
    </main>
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
