<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <div class="container listingArea">
        <h1 class="h1" id="collectionHeader">Tweed-ly Collection</h1>
        <ul>
        <% for (let i = 0; i < tweeds.length; i++) { %>
          <div class="listing">
            <li style="list-style: none">
              <a href="/tweed/app/<%=tweeds[i].id%>">
                <img class="listingImage" src="<%=tweeds[i].img%>" alt="<%=tweeds[i].name%> Image"/>
              </a>
              <h5 class="h5">
                <%=tweeds[i].name%>
              </h5>
              <span class="ratingBar">
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </li>
          </div>
        <% } %>
        </ul>
      </div>
    </main>
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
