<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <h1 class="h1" id="collectionHeader">Tweed-ly Collection</h1>
      <div class="container listingArea">
        <ul>
        <% for (let i = 0; i < tweeds.length; i++) { %>
          <div class="listing">
            <li class="listItem" style="list-style: none">
              <a href="/tweed/app/<%=tweeds[i].id%>">
                <img class="listingImage" src="<%=tweeds[i].img%>" alt="<%=tweeds[i].fabric%> Image"/>
              </a>
              <h5 class="h5">
                <%=tweeds[i].fabric%>
              </h5>
            </li>
          </div>
        <% } %>
        </ul>
      </div>
      <script>
        $(() => {
          const $span = $('<span>').appendTo($('.listItem'));
          $span.addClass('ratingBar');
          for (let j = 1; j <= 5; j++){
            const $item = $('<i>').attr("id", "item" + j).addClass("far fa-star").appendTo($('.ratingBar'));
          }
          //Item 1
            $('#item1').on('click', () => {
              $('#item1').removeClass('far');
              $('#item1').addClass('fas');
            })
          //Item 2
          $('#item2').on('click', () => {
            $('#item2').removeClass('far');
            $('#item2').addClass('fas');
            $('#item1').removeClass('far').addClass('fas');
          })
          //Item 3
          $('#item3').on('click', () => {
            $('#item3').removeClass('far').addClass('fas');
            $('#item2').removeClass('far').addClass('fas');
            $('#item1').removeClass('far').addClass('fas');
          })
          //Item 4
          $('#item4').on('click', () => {
            $('#item4').removeClass('far').addClass('fas');
            $('#item3').removeClass('far').addClass('fas');
            $('#item2').removeClass('far').addClass('fas');
            $('#item1').removeClass('far').addClass('fas');
          })
          //Item 5
          $('#item5').on('click', () => {
            $('#item5').removeClass('far').addClass('fas');
            $('#item4').removeClass('far').addClass('fas');
            $('#item3').removeClass('far').addClass('fas');
            $('#item2').removeClass('far').addClass('fas');
            $('#item1').removeClass('far').addClass('fas');
          })
          $('.fas').on('click', () => {
            $('.fas').removeClass('fas').addClass('far');
          })

        })
      </script>
      <!-- Attempt at embedding Google Maps API -->
      <div id="map">

      </div>
      <!-- <script>
        $(() => {
          let map;
          function initMap() {
            map = new googlemaps.Map($('#map'), {
              center: {lat: -34.397, lng: 150.644},
              zoom: 8
            })
          }
        })
      </script> -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwofZ47oSKL-DUOf_O1Av973oKbIJHU7s&callback=initMap" async defer></script> -->
    </main>
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
