<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
      <a href="/tweed/app/"><button class="btn backBtn">Go Back</button></a>
      <div class="container newPage">
        <h1 class="h1 pageHeader createHeader">Create your Tweed Suit</h1>
        <form action="/tweed/app" method="POST">
          Name: <input class="input" type="text" name="name" placeholder="Herringbone"/><br/>
          Image: <input class="input" type="text" name="img" placeholder="Link to Image (URL)"/><br/>
          Brand: <input class="input" type="text" name="brand" placeholder="Flecks Donegal"><br/>
          Price: <input class="input" type="number" name="price" placeholder="225"/><br/>
          Color: <input class="input" type="text" name="color" placeholder="Gray"/><br/>
          Pattern: <input class="input" type="text" name="pattern" placeholder="Standard"/><br/>
          Description: <input class="input" type="textarea" name="description" placeholder="Description of Suit"/><br/>
          Weight: <input class="input" type="text" name="weight" placeholder="Mid/230 gsm"/><br/>
          <input class="btn submitBtn" type="submit" value="Create Suit"/>
        </form>
      </div>
    </main>
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
