<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs %>
    </header>
    <main>
      <div class="container" id="userNewEJS">
        <h1 class="h1">Registration</h1>
        <form action="/users" method="POST">
          <fieldset class="fieldset">
            <label class="label" for="username">Username</label>
            <input class="input" type="text" name="username" placeholder="Username" required/>
            <label class="password label" for="password">Password</label>
            <input class="input password" type="password" name="password" placeholder="Password">
          </fieldset>
          <input class="btn submitBtn" type="submit" value="Register">
        </form>
      </div>
    </main>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
